/**************************************
 *  Header Section Start  
 * *************************************/
.container {
	width: 1100px;
	margin: 0 auto;
}
.top-down {
	padding: 20px 0px;
}
.header {
	display: flex;
	justify-content: space-between;
}
.header h1 {
	font-size: 24px;
}
.header-left {
	display: flex;
	gap: 10px;
}
.logo {
	width: 50px;
	height: 50px;
}

.menu {
}
.menu ul {
	display: flex;
	gap: 20px;
	list-style: none;
}
